{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}
    <div class="text-center mb-4">
        Salut
        {{ app.user.firstname ?? 'Employé' }}
    </div>
{% endblock %}
{% block head_javascript %}
    {{ parent() }}

    {{ encore_entry_script_tags('initChart') }}
{% endblock %}

{% block main %}
    <div class="row h-100">
        <div class="col-md-5 h-100 m-auto">
            {{ render_chart(chart1) }}
        </div>
    </div>
    <div class="row my-5">
        {% for message in messages %}
            <div class="card m-auto " style="width: 18rem; height: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ message.nom }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ message.email }}</h6>
                    <p class="card-text">{{ message.message }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
